@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Courgette&family=Roboto:wght@100;300;400&family=Montserrat:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;

}

.brand-name {
    background-color: #303149;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: .5rem 1rem;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303149;
    color: white;
    padding-right: 10px;
}

/* creates sticky position as the user scrolls down the page */
.sticky {
    position: sticky;
    top: 0;
}

/* ensures that the navbar stays infront of the card animations throughout the site */
.infront {
    z-index: 1;
}

.brand-name h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding: .5rem;
    text-align: center;
    color: #cea716;
}

.brand-logo {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.25rem;
    margin: 0;
    padding: .55rem;
    text-align: center;
    background-color: #303149;
    color: #cea716;
}

/* create an anchor on the brand logo that return the user back to home on click*/
.brand-logo a, .brand-name a {
    text-decoration: none;
    color: #cea716;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #cea716;
}

.active {
    background-color: #cea716;
}


/* media query to change the flow of the navbar on mobile devices*/
@media screen and (max-width: 400px) {

    .brand-logo {
        display: none;
    }


    .navbar-links {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    /* removes the sticky scroll on smaller screens to make it easier to read */
    .sticky {
        position: static;
    }
}


/* creation of the Hero image and its animations */
/* this code is similar to that used in the Love Running walkthough project */
/* the emphasis was on creating an image that grabbed attention */
#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* creates the floating text over the hero image */
#cover-text,
#cover-text h2 {
    color: #dbcdcd;
    padding: .5rem;

}

#hero-image {
    height: 900px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-color: #303149;
    background-blend-mode: luminosity;

    /*animates zoom effect on loading page*/
    animation: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

/* creates the zoom for the Hero image */
@keyframes hero-zoom {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25rem;
    text-align: center;

    width: 300px;
    height: 250px;
    border-radius: 20px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #303149;

    top: 45%;
    right: 5%;

    position: absolute;
}


/* welcome section*/
#welcome {
    min-height: 30rem;
    max-width: 100%;
    background-color: #ffefca;
    text-align: center;
}

#welcome h2 {
    font-family: 'Courgette', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #842600;
    max-width: 18ch;
    line-height: 50px;
    margin: 0 auto;
    padding: 100px 0 20px;
    border-bottom: 2px solid #402e32;
}

#welcome p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #402E32;
    max-width: 40ch;
    line-height: 25px;
    margin: auto;
    padding: .75rem;
}

#welcome em {
    font-size: 1rem;
    border-bottom: 1px solid #cea716;
    color: #03011e;
}



/* navigation cards that introduce a bit about us(community/ values/ yoga) on index.html */
#nav-cards {
    min-height: 30rem;
    max-width: 100%;
    font-family: 'Comfortaa',sans-serif;
    overflow: hidden;
}

.card-wrapper {
    background: #03011e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 40px 20px;
    width: calc(33% - 40px);
    max-height: 500px;
    padding: 30px;
    text-align: center;
    color: white;
    float: left;
}

.card-title h2 {
    font-size: 1.5rem;
    margin: 80px 0 0 0;
}

.card-icon {
    margin: 40px 0;
}

.card-icon i {
    font-size: 6rem;
    width: 100px;
    height: 100px;
    color: #cea716;
}

.card-features {
    padding: 0;
    margin: 20px 0 40px 0;
    list-style-type: none;
}

.card-features p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;

}



/* media queries to make the cards responsive on smaller devices*/
@media (max-width: 768px) {
    .card-wrapper {
        margin: 10px 20px;
        width: calc(100% - 40px);
    }

    .card-wrapper:first-child {
        margin-top: 20px;
    }
}

/* about us page */
/* contains information regarding Instructors, Yoga styles and a Timetable*/
/* creates a white space div for the heading relevant to the page the user is on */
.white-space {
    width: 100%;
    height: auto;
    background: #fff;
}

.about-heading {
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    text-align: center;

    padding: 1rem;
    margin: 40px auto;
}

.about-heading::after {
    content: "";
    display: block;
    height: 2px;
    width: 5em;
    margin: .5em auto;
    background-color: #cea716
}

/* instructor cards */
#instructors {
    font-family: 'Montserrat',sans-serif;

    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    align-self: flex-start;
    justify-content: space-evenly;

}

.instructor-card {
    box-shadow: 0px 2px 8px 0px #303149;
    width: 80%;
    max-width: 400px;
    margin: 80px 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #03011e;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* animates the card to lift off the page when moused over */
.instructor-card:hover {
    transform: scale(1.12);
    transition: all 200ms ease-in-out;
}

.profile-image {
    border-radius: 50%;
    border: 4px solid #fff;
    width: 200px;
    height: auto;
}

.profile-name {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 1px;
}
.profile-name:hover {
    color: #cea716;
}

.profile-name::after {
    content: "";
    display: block;
    height: 1px;
    width: 2em;
    margin: .5em auto;
    background-color: #cea716
}

.profile-style {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 3px;
    margin-bottom: 1.25rem;
}

.profile-body {
    font-weight: lighter;
    opacity: .6;
    margin-bottom: 0;

}

/* media query to make the cards stack side by side on larger displays*/
@media screen and (max-width: 1140px) {
    #instructors {
        display: grid;
        grid-template-columns: repeat(auto-fit, 25rem);
        align-self: flex-start;
        justify-content: space-evenly;
    }   
}

/* media query to make the cards responsive when scaling down to smaller screens*/
@media screen and (min-width: 600px) {


    .instructor-card {
        flex-direction: row;
    }

    .instructor-profile {
        text-align: left;
        margin-left: 2em;
    }

    .profile-name::after {
        margin-left: 0;
    }
}


/* yoga flip cards for the yoga styles */
/* each card contains an image and title on the front, and flips 180degrees to display information regarding the style and level required */
#yoga-styles {
    font-family: 'Montserrat',sans-serif;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    align-self: flex-start;
    justify-content: space-evenly;
}

/* container to position the flip card */
.yoga-card-wrapper {
    max-width: 400px;
    margin: 80px 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 360px;
    position: relative;
    perspective: 800px;
}

.yoga-card {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 8px 0px #303149;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.yoga-img {
    max-width: 250px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}
/* do a horizontal flip when you mouse over the flip card wrapper */
.yoga-card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

/* positioning front of the card*/
.yoga-card-front {
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* positioning and styling back of the card*/
.yoga-card-back {
    background: #fff;
    color: #03011e;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
}

.yoga-card .class-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding: .75rem;
    max-width: 40ch;
    margin: auto 0;
}

.yoga-card .class-level {
    font-family: 'Roboto',sans-serif;
    font-size: .8rem;
}

.yoga-card .class-name {
    font-family: 'Courgette', sans-serif;
    font-size: 1.75rem;
    font-weight: lighter;
    padding: .5rem;
    max-width: 40ch;
}

/* style the front side (fallback if image is missing/ or doesnt load) */
.yoga-card-front {
    background-image: linear-gradient(#03011e, #ffefca);
    color: #ffefca;
}


/* timetable */
/* image used to create the tiled block effect on the yoga.html page */
#timetable {
    background: url('../images/joshua-woroniecki--5nwt_aN2E0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.yoga-time {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffefca;
    width: 20%;
    height: 300px;
    float: left;
    padding: 50px 0 0 10px;
    text-align: center;
    border: 2px solid #fff;
}

.yoga-time h2 {
    font-family: 'Courgette', sans-serif;
    font-size: 1.7rem;
    font-weight: lighter;
    padding: .5rem;
}

.yoga-time h2::after {
    content: "";
    display: block;
    height: 1px;
    width: 2em;
    margin: .5em auto;
    background-color: #cea716;
}

.yoga-time h3 {
    font-family: 'Comfortaa', sans-serif;
    font-size: .75rem;
    padding: 0 0 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.yoga-time p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    letter-spacing: 3px;
}

/*media query */
/* changes the background image to display vertically and remove the underline on smaller screens and devices */
@media screen and (max-width: 1200px) {
    .yoga-time {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .yoga-time h2::after {
        visibility: hidden;
        margin: 0;
    }
}

.contact p {
    text-align: center;
    font-size: 1rem;
    margin: 20px auto;
    padding: .5rem;

}


/* Contact Us section */
#contact {
    min-height: 6rem;
    max-width: 100%;
    margin: auto 0;
    overflow: hidden;
    background-color: #03011e;
    color: white;
}

.contact {
    font-family: 'Comfortaa', sans-serif;
    align-items: center;
}

.contact h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1.8rem;
}

.contact h3 {
    text-align: center;
    font-size: 2rem;
    padding: 1.8rem;
}

.contact h3::after {
    content: "";
    display: block;
    height: 1px;
    width: 5em;
    margin: .5em auto;
    background-color: #cea716;
}

.contact p {
    text-align: center;
    font-size: 1rem;
    max-width: 60ch;
    opacity: 0.7;
}



/* container to display the contact details and map side by side */
.contact-wrapper {
    display: flex;
    flex-wrap: wrap;

    min-height: auto;
    max-width: 100%;
    margin: auto;
    background-color: #303149;
    color: #fff;
}

.contact-details {
    font-family: 'Comfortaa', sans-serif;
    padding: 40px 30px;
}

.contact-details:nth-child(1) {
    flex: 30%;
}

.contact-details:nth-child(2) {
    flex: 40%;
    padding: 0;
}

.contact-details:nth-child(3) {
    flex: 30%;
    padding: 0;
}

.contact-details h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.contact-details h3 i {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #dbcdcd;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-details p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* creates a container to hold all the form information */
.contact-details form {
    width: 100%;
    height: auto;
    background-color: #303149;
    color: white;
}

.contact-details form h3 {
    margin: 1.5em auto;
font-size: 1.75rem;
    text-align: center;
}
.contact-details .contact-header {
    font-size: 1.75rem;
    text-align: center;
}

.contact-header::after {
    content: "";
    display: block;
    height: 1px;
    width: 5em;
    margin: .5em auto;
    background-color: #cea716;
}

.contact-details label {
    margin-left: .6rem;
}

.contact-details .form-input {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
}

 /*radio buttons for the exercise types */
.radio-btn {
    font-size: 1.25rem;
    padding: .25rem;
    text-align: center;
    cursor: pointer;
}

/* submit button positioning for the form*/
form .form-btn {
    display: block;
    text-align: center;
}

/* iframe to hold the google map */
.contact-details iframe {
    width: 100%;
    height: 100%;
}

/* media queries to make the panels responsive on smaller devices*/
@media screen and (max-width:700px) {
    .contact-details:nth-child(1) {
        flex: 50%;
    }

    .contact-details:nth-child(2) {
        flex: 50%;
    }

    .contact-details:nth-child(3) {
        flex: 100%;
    }

}

@media screen and (max-width:300px) {
    .contact-details:nth-child(1) {
        flex: 50%;
    }

    .contact-details:nth-child(2) {
        flex: 50%;
    }

    .contact-details:nth-child(3) {
        flex: 100%;
    }

}

/* buttons used in the cards and contact sections used across the site */
/* flexible wrapper for button */
.contact-btn {
    width: 15rem;
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* button used on the form */
.button {
    font-size: 1rem;
    text-align: center;

    background-color: #cea716;
    border: 1px solid white;
    color: #03011e;

    padding: 1rem;
    margin: .5rem 0;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.button:hover {
    background-color: #03011e;
    color: #fff;
    border: 1px solid #cea716;
    cursor: pointer;
}

/*button used on nav card and contact wrappers */
.btn {
    width: 20ch;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.12rem;
    font-weight: bold;

    background-color: #03011e;
    border: 2px solid #847655;
    color:#847655;

    padding: 1rem;
    margin: 1rem auto;
    border-radius: 10px;

    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.btn:hover {
    background: #847655;
    color: #fff;
    cursor: pointer;
}


/* Thank You section */
.thanks {
    width: 100%;
    min-height: 500px;
    background-color: #ffefca;
    background-image: url('../images/thank-you-rainbow-heart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    text-align: center;
    justify-items: center;
}

.thanks h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    padding: 6rem .5rem;
    max-width: 30ch;
}

.thanks p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin: 0 auto;
    padding-top: 1.25rem;
    max-width: 30ch;
}


/* footer section */
footer {
    min-height: 8rem;

}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding: .25rem;
    text-align: center;

}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 2.5rem;
    margin: 1rem;
    padding: .25rem;
    color: #cea716;
    justify-content: space-between;
}

/* an arrow fixed to scroll with the screen, so that a user can quickly return to the top of the page */
.arrow-top {
    position: fixed;
    right: 0;
    bottom: .25rem;
    font-size: 2rem;
    color: #cea716;

}
 /* the YR lstyled logo attached to the arrow so as to create further brand awareness with the user */
.arrow-top p {
    font-family: 'Comfortaa',sans-serif;
    font-size: 1.3rem;
}

/* media queries */
/* media query to resize the cover-text box on mobile devices*/
@media screen and (max-width: 400px) {

    #cover-text {
        font-size: .75rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;

        max-width: 25ch;
        border-radius: 20px;

        padding: .5rem 1.25rem;
        background-color: #303149;

        position: absolute;
    }
}