@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Courgette&family=Roboto:wght@100;300;400&family=Montserrat:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;

}

.brand-name {
    background-color: #303149;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: .5rem 1rem;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(206, 167, 22, .4);
    color: white;
    padding-right: 10px;
}

/* Creates sticky position as the user scrolls down the page */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.brand-name h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding: .5rem;
    text-align: center;
    color: #cea716;
}

.brand-logo {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.25rem;
    margin: 0;
    padding: .55rem;
    text-align: center;
    background-color: #303149;
    color: #cea716
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #303149;
}

.active {
    background-color: #303149;
}

/* media query to change the flow of the navbar on mobile devices*/
@media screen and (max-width: 400px) {

    .brand-logo {
        display: none;
    }


    .navbar-links {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    /* removes the sticky scroll on smaller screens to make it easier to read */
    .sticky {
        position: static;
    }
}


/* Creation of the Hero image and its animations */
/* This code is similar to that used in the Love Running walkthough project */
/* The emphasis was on creating an image that grabbed attention */
#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/*Creates the floating text over the hearo image */
#cover-text,
#cover-text h2 {
    color: #dbcdcd;
    padding: .5rem;

}

#hero-image {
    height: 900px;
    width: 100%;
    background: url('/assets/images/hero-image.jpg') no-repeat center center;
    background-color: #03011e;
    background-blend-mode: luminosity;

    /*animates zoom effect on loading page*/
    animation: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the zoom for the Hero image */
@keyframes hero-zoom {
    from {
        transform: scale (1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25rem;
    text-align: center;

    width: 300px;
    height: 250px;
    border-radius: 20px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #303149;

    top: 45%;
    right: 5%;

    position: absolute;
}


/* Welcome section*/
#welcome {
    min-height: 30rem;
    max-width: 100%;
    background-color: #ffefca;
    text-align: center;
}

#welcome h2 {
    font-family: 'Courgette', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #842600;
    max-width: 15ch;
    line-height: 50px;
    margin: 0 auto;
    padding: 100px 0 20px;
    border-bottom: 1px solid #402e32;
}

#welcome p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #402E32;
    max-width: 25ch;
    line-height: 25px;
    margin: 0 auto;
    padding: 1.75rem;
}



/* About Us section */
#about-us {
    min-height: 30rem;
    max-width: 100%;
    font-family: 'Comfortaa';
    overflow: hidden;
}

.card-wrapper {
    background: #03011e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 80px 20px 40px 20px;
    width: calc(33% - 40px);
    max-height: 500px;
    padding: 30px;
    text-align: center;
    color: white;
    float: left;
}

.card-title {
    font-size: 1.5rem;
    margin: 80px 0 0 0;
}

.card-icon {
    margin: 40px 0;
}

.card-icon i {
    font-size: 6rem;
    width: 100px;
    height: 100px;
    color: #cea716;
}

.card-features {
    padding: 0;
    margin: 20px 0 40px 0;
    list-style-type: none;
}

.card-features p {
    margin: 10px 0;
    font-size: 14px;

}


.btn {
    display: block;
    background: #847655;
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.btn:hover {
    background: #847655;
    cursor: pointer;
}

/* Media Queries to make the cards responsive on smaller devices*/
@media (max-width: 768px) {
    .card-wrapper {
    margin: 10px 20px;
    width: calc(100% - 40px);
    }
    .card-wrapper:first-child {
        margin-top: 20px;
    }
}
 

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    padding: 30px;
    background-color: transparent;
    width: 210px;
    height: 360px;
    border-radius: 15px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "pic""text""stat";
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-image: linear-gradient(#03011e, #ffefca);
    color: #ffefca;
    border-radius: 15px;
}

/* Style the back side */
.flip-card-back {
    background-color: #cea716;
    color: white;
    border-radius: 15px;
    transform: rotateY(180deg);
}

.flip-card-back p {
    font-family: 'Montserrat', sans-serif;

    padding: .5rem;
    max-width: 10ch;
    margin: .5rem 1.25rem;



}

.flip-card-back h2 {
    font-family: 'Courgette', sans-serif;
    max-width: 10ch;
    font-weight: lighter;
}


/* instructor card */
.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
}

.banner-img {
    position: absolute;
    background-image: linear-gradient(#03011e, white);

    height: 15rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
}

.btn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: #03011e;
}


/* Contact Us section */
#contact {
    min-height: 10rem;
    max-width: 100%;
    margin: auto 0;
    overflow: hidden;
    background-color: #03011e;
    color: white;
}
.contact {
    font-family: 'Comfortaa', sans-serif;
    align-items: center;
}

.contact h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1.8rem;
}

/* container to display the contact details and map side by side */
.contact-wrapper {
    display: flex;
    flex-wrap: wrap;

    min-height: auto;
    max-width: 100%;
    margin: auto;
    background-color: #303149;
    color: #fff;
}

.contact-details {
    padding: 40px 30px;
}

.contact-details:nth-child(1) {
    flex: 30%;
}

.contact-details:nth-child(2) {
    flex: 40%;
    padding: 0;
}

.contact-details:nth-child(3) {
    flex: 30%;
    padding: 0;
}

.contact-details h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.contact-details h3 i {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #dbcdcd;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-details p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* creates a container to hold all the form information */
.contact-details form {
    width: 100%;
    height: auto;
    background-color: #cea716;
    color: white;
}

.contact-details form h3 {
    font-size: 1.75rem;
    text-align: center;
    padding: 1rem;
}

.contact-details label {
    margin-left: .6rem;
}

.contact-details .form-input {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
}

.radio-btn {
    font-size: 1.25rem;
    padding: .25rem;
    text-align: center;
    cursor: pointer;
}

form .form-btn {
    display: block;
    text-align: center;
}

.contact-details iframe {
    width: 100%;
    height: 100%;
}

/* media queries to make the panels responsive on smaller devices*/
@media screen and (max-width:700px) {
    .contact-details:nth-child(1) {
        flex: 50%;
    }

    .contact-details:nth-child(2) {
        flex: 50%;
    }

    .contact-details:nth-child(3) {
        flex: 100%;
    }

}

@media screen and (max-width:300px) {
    .contact-details:nth-child(1) {
        flex: 50%;
    }

    .contact-details:nth-child(2) {
        flex: 50%;
    }

    .contact-details:nth-child(3) {
        flex: 100%;
    }

}



/* buttons */

.contact-btn {
    width: 8rem;
    margin: 0 auto;
}

.button {
    font-size: 1rem;
    text-align: center;
    
    background-color: #cea716;
    border: 1px solid white;
    color: #fff;

    padding: 1rem;
    margin: .5rem 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.button:hover {
    background-color: #03011e;
    color: #fff;
    border: 1px solid #cea716;
    cursor: pointer;
}

/* Thank You section */
.thanks {
    width: 100%;
    min-height: 500px;
    background-color: #ffefca;
    background-image: url('/assets/images/pexels-sharon-mccutcheon-3802075.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    text-align: center;
    justify-items: center;
}

.thanks h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    padding: 6rem .5rem;
    max-width: 30ch;
}

.thanks p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin: 0 auto;
    padding-top: 1.25rem;
    max-width: 30ch;
}


/* footer section */
footer {
    min-height: 6rem;

}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding: .25rem;
    text-align: center;

}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 2.5rem;
    margin: 1rem;
    padding: .25rem;
    color: #cea716;
    justify-content: space-between;
}

.arrow-top {
    position: fixed;
    right: 0;
    bottom: .25rem;
    font-size: 2rem;
    color: #03011e;
    opacity: 0.65;
}

/* media queries */

/* media query to resize the cover-text box on mobile devices*/
@media screen and (max-width: 400px) {

    #cover-text {
        font-size: .75rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: .25rem;
        text-align: center;

        max-width: 20ch;
        border-radius: 20px;

        padding: .5rem 1.25rem;
        background-color: #303149;

        position: absolute;
    }

}